.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    background-color: white;
    height: 75px;
    padding: 0px 50px;
    width: 275px;  
    border-radius: 15px;
    color: #242424;
  }